
@{
    Layout = null;
}
<!Doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="https://imagizer.imageshack.com/img922/272/vgS3Aw.jpg">
    <link rel="shortcut icon" href="https://imagizer.imageshack.com/img922/272/vgS3Aw.jpg">
    @Styles.Render("~/AdminContent/css")
    <!-- -->
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/DevExtremeBundle")
   
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

            #flotPie1 td {
                padding: 3px;
            }

            #flotPie1 table {
                top: 20px !important;
                right: -10px !important;
            }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }
    </style>
</head>
<body>
    <!-- Left Panel -->
    @Html.Partial("~/Areas/AdminBCDH/Views/Home/LeftPanelParital.cshtml")
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        @Html.Partial("~/Areas/AdminBCDH/Views/Home/HeaderPartial.cshtml")
        <!-- /#header -->
        <!-- Content -->
        @RenderSection("Breadcrums", false)
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                @RenderBody()
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        @Html.Partial("~/Areas/AdminBCDH/Views/Home/FooterPartial.cshtml")

        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @Scripts.Render("~/AdminBCDH/JS")
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="@Url.Content("~/Content/AdminPage/assets/js/init/fullcalendar-init.js")"></script>

    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/devextreme-intl.min.js")"></script>
</body>
</html>

