@model BCDHX.Models.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Đăng Ký Thành Viên";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bà Chị Diệu Hiền - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/MainPage/images/iconBCDH.jpg">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/LoadingScreen/css/jquery.loadingModal.css")">
    <link href="@Url.Content("~/Content/SweetAlret/sweetalert2.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/DevExtremeBundle")
</head>
<body>
    @Html.Partial("~/Views/Home/HeaderForShorter.cshtml")
    @Html.Partial("~/Views/Home/PageBannerForRg.cshtml")
    <div class="register-section section mt-90 mb-90">
        <div class="container">
            <div class="row">
                <!-- Register -->
                <div class="col-md-12 col-12 d-flex">
                    <div class="ee-register">
                        <h3>Bạn Muốn Trở Thành Thành Viên Của Bà Chị Shop, vì bạn đã đăng kí bằng phương thức khác nên phải điền thêm ở phía dưới</h3>
                        <p>Cung cấp những dịch vụ tốt nhất cho khách hàng là phương châm của chúng tôi</p>
                        <!-- Register Form -->
                        <form id="dangkyformExternal">
                            <div class="row">
                                <div class="col-12 mb-30">

                                    <div class="col-12 mb-30"> <input type="text" name="Email" id="EmailExternal" value="@Model.Email" readonly></div>
                                    <div class="col-12 mb-30"><input type="text" name="Fullname" id="FullnameExternal" placeholder="Họ Và Tên" required></div>
                                    <div class="col-12 mb-30"><input type="text" name="Address" id="AddressExternal" placeholder="Địa Chỉ" required></div>
                                    <input type="hidden" value="@ViewBag.ReturnUrl" id="returnUrlExternal">
                                    <div class="col-12"><input type="submit" value="Đăng Ký" id="subbt"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Account Image -->


            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Home/BrandsPartial.cshtml")
    @Html.Partial("~/Views/Home/footer.cshtml")
    @Scripts.Render("~/bundles/jquery")
    <!-- Popper JS -->
    <script src="@Url.Content("~/Content/MainPage/js/popper.min.js")"></script>
    <!-- Bootstrap JS -->
    <script src="@Url.Content("~/Content/MainPage/js/bootstrap.min.js")"></script>
    <!-- Plugins JS -->
    <script src="@Url.Content("~/Content/MainPage/js/plugins.js")"></script>
    <!-- Main JS -->
    <script src="@Url.Content("~/Content/MainPage/js/main.js")"></script>
    <script src="@Url.Content("~/Content/LoadingScreen/js/jquery.loadingModal.js")"></script>
    <script src="@Url.Content("~/Content/SweetAlret/sweetalert2.all.js")"></script>
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="@Url.Content("~/ScriptsBundle/AccountSC.js")"></script>
</body>
</html>


