@using BCDHX.Models
@model LoginViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bà Chị Diệu Hiền - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/MainPage/images/iconBCDH.jpg">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/LoadingScreen/css/jquery.loadingModal.css")">
    <link href="@Url.Content("~/Content/SweetAlret/sweetalert2.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/DevExtremeBundle")
</head>
<body>
    @Html.Partial("~/Views/Home/HeaderCustom.cshtml")
    @Html.Partial("~/Views/Home/PageBannerForLoginPartial.cshtml")
    <!-- Login Section Start -->
    <div class="login-section section mt-90 mb-90">
        <div class="container">
            <div class="row">
                <!-- Login -->
                <div class="col-md-6 col-12 d-flex">
                    <div class="ee-login">
                        <h3>Đăng nhập bằng tài khoản </h3>
                        <p>Hãy đăng nhập để được hưởng ưu đãi tốt nhất từ Bà Chị Diệu Hiền , mua hàng , sử dụng giảm giá v.v.v</p>
                        <!-- Login Form -->
                        <form id="LoginForm">
                            <div class="row">
                                <div class="col-12 mb-30"><div id="sumerror"><span style="color:red">@ViewBag.Error</span></div></div>
                                <div class="col-12 mb-30"><input type="text" id="Username" placeholder="Email đã đăng kí để đăng nhập" required=""></div>
                                <div class="col-12 mb-20"><input type="password" id="Password" placeholder="Mật khẩu" required=""></div>
                                <input type="hidden" id="ReturnLink" value="@ViewBag.ReturnUrl">
                                <div class="col-12 mb-15">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Ghi nhớ</label>
                                    <a href="#" onclick="return ShowModalForgot();">Quên mật khẩu</a>
                                </div>
                                <div class="col-12"><input type="submit" value="Đăng nhập"></div>
                            </div>
                        </form>
                        <h4>Bạn Chưa Có Tài Khoản ?<a href="/Account/Register">Đăng Kí Ngay!</a></h4>
                    </div>
                </div>
                <div class="col-md-1 col-12 d-flex">
                    <div class="login-reg-vertical-boder"></div>
                </div>
                <!-- Login With Social -->
                <div class="col-md-5 col-12 d-flex">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div><!-- Login Section End -->
    <!--Modal ResendConfirmEmail-->
    <div class="modal fade" id="ResendConfirmEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gửi lại email kích hoạt tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="ee-login">
                        <form id="resendconfirm">
                            <div class="col-12 mb-30"><div id="SumErrorResend"></div></div>
                            <div class="col-12 mb-30"><label>Xin mời nhập email cần gửi lại:</label></div>
                            <div class="col-12 mb-30"><input type="text" id="ReSendConfirmUserName" placeholder="Email đã đăng kí !" required=""></div>

                            <div class="col-12"><input type="submit" value="Gửi"></div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">

                    <div class="col-12"><h4>Cảm ơn đã tin tưởng và sử dụng dịch vụ của shop!</h4></div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal ResendConfirmEmail End-->
    <!--Modal ForgotPassword-->
    <div class="modal fade" id="ForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn quên mật khẩu?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ee-login">
                        <form id="ForgotPasswordForm">
                            <div class="col-12 mb-30"><div id="SumErrorForgot"></div></div>
                            <div class="col-12 mb-30"><label>Xin mời nhập tên đăng nhập (email đăng ký):</label></div>
                            <div class="col-12 mb-30"><input type="text" id="ForgotPasswordEmail" placeholder="Email đã đăng kí !" required=""></div>
                            <div class="col-12"><input type="submit" value="Gửi"></div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">

                    <div class="col-12"><h4>Cảm ơn đã tin tưởng và sử dụng dịch vụ của shop!</h4></div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal ForgotPassword End-->
    @Html.Partial("~/Views/Home/BrandsPartial.cshtml")
    @Html.Partial("~/Views/Home/footer.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    <script src="@Url.Content("~/ScriptsBundle/AccountSC.min.js")"></script>
</body>
</html>