@model List<BCDHX.Models.ModelObject.NewArrivalProduct>
<div class="product-section section mb-60">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" data-title="NEW ARRIVAL"><h1>Hàng mới về</h1></div>
            </div><!-- Section Title End -->
            <div class="col-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (!item.Sale.Equals("null"))
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                                <!-- Product Start -->
                                <div class="ee-product">
                                    <!-- Image -->
                                    <div class="image">
                                        <span class="label new">New & Sale</span>
                                        <a href="../Product/ProductDetail/?productid=@item.ID_Product" class="img"><img src="@Url.Content("~/Content/ImageUploaded/ImageForProduct/"+item.Img)" alt="Product Image"></a>
                                        <div class="wishlist-compare">                                        
                                            <a href="#" data-tooltip="Wishlist" onclick="return GetProductIDForAddWishList('@item.ID_Product')"><i class="ti-heart"></i></a>
                                        </div>
                                        <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!-- Category & Title -->
                                        <div class="category-title">
                                            @Html.ActionLink(item.NameCatogory, "ProductByCategory", "Product", new { categoryname = item.NameCatogory }, new { @class = "cat" })
                                            <h5 class="title">@Html.ActionLink(item.Name_Product, "ProductDetail", "Product", new { productid = item.ID_Product }, null)</h5>
                                        </div>
                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">
                                            <h5 class="price"><span class="old">@item.Price</span>@item.Sale</h5>

                                        </div>
                                    </div>
                                </div><!-- Product End -->
                            </div>
                        }
                        else
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                                <!-- Product Start -->
                                <div class="ee-product">
                                    <!-- Image -->
                                    <div class="image">
                                        <span class="label new">New</span>
                                        <a href="../Product/ProductDetail/?productid=@item.ID_Product" class="img"><img src="@Url.Content("~/Content/ImageUploaded/ImageForProduct/"+item.Img)" alt="Product Image"></a>
                                        <div class="wishlist-compare">                                     
                                            <a href="#" data-tooltip="Wishlist" onclick="return GetProductIDForAddWishList('@item.ID_Product')"><i class="ti-heart"></i></a>
                                        </div>
                                        <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!-- Category & Title -->
                                        <div class="category-title">
                                            @Html.ActionLink(item.NameCatogory, "ProductByCategory", "Product", new { categoryname = item.NameCatogory }, new { @class = "cat" })
                                            <h5 class="title">@Html.ActionLink(item.Name_Product, "ProductDetail", "Product", new { productid = item.ID_Product }, null)</h5>
                                        </div>
                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">
                                            <h5 class="price">@item.Price</h5>

                                        </div>
                                    </div>
                                </div><!-- Product End -->
                            </div>
                        }

                    }


                </div>
            </div>
        </div>
    </div>
</div>

