
@{
    Layout = null;
}

<!Doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bà Chị Diệu Hiền - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/MainPage/images/iconBCDH.jpg">
    <!-- CSS
    ============================================ -->
    <!--Other-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700" rel="stylesheet">
    <!-- CSS -->
    @Styles.Render("~/Content/css")
   
    <!-- Modernizer JS -->
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Header Section Start -->
    @Html.Partial("~/Views/Home/HeaderCustom.cshtml")
    <!-- Header Section End -->
    <!-- Mini Cart Wrap Start -->
    @Html.Partial("~/Views/Cart/CartPartial.cshtml")

    <!-- Mini Cart Wrap End -->
    <!-- Cart Overlay -->
    <div class="cart-overlay"></div>
    <!-- Page Banner Section Start -->
    @RenderSection("PageBannerForAll", required: false)

    <!-- Page Banner Section End -->
    <!-- Product Section Start -->
    <div class="product-section section mt-90 mb-90">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Feature Product Section End -->
    <!-- Brands Section Start -->
    @RenderSection("Brands", required: false)
    <!-- Brands Section End -->
    <!-- Subscribe Section Start -->
    @RenderSection("Subscribe", required: false)
    @Html.Partial("~/Views/Account/ModalLogin.cshtml")
    @Html.Partial("~/Views/Account/ResendConfirmEmailModalPartial.cshtml")
    <!--Modal ResendConfirmEmail End-->
    <!--Modal ForgotPassword-->
    @Html.Partial("~/Views/Account/ForgotPasswordModalPartial.cshtml")
    <!-- Subscribe Section End -->
    <!-- Footer Section Start -->
    @Html.Partial("~/Views/Home/footer.cshtml")
    <!-- Footer Section End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    @Scripts.Render("~/bundles/jquery")

    <!--Popper JS Bootstrap JS -->
    @Scripts.Render("~/bundles/bootstrap")
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" integrity="sha256-u6BamZiW5tCemje2nrteKC2KoLIKX9lKPSpvCkOhamw=" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundle/cart")
    @RenderSection("ScriptBundle", required: false)

</body>

</html>