
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bà Chị Diệu Hiền - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/MainPage/images/iconBCDH.jpg">
    <!-- CSS
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    <!-- Modernizer JS -->
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <!-- Header Section Start -->
    @Html.Partial("~/Views/Home/header.cshtml")
    <!-- Header Section End -->
    <!-- Mini Cart Wrap Start -->
    @Html.Partial("~/Views/Cart/CartPartial.cshtml")
    <!-- Mini Cart Wrap End -->
    <!-- Cart Overlay -->
    <div class="cart-overlay"></div>
    <!-- Hero Section Start -->
    @RenderSection("Hero", required: false)
    @*@Html.Partial("~/Views/Home/HeroSectionPartial.cshtml")*@
    <!-- Hero Section End -->
    <!-- Banner Section Start -->
    @RenderSection("Banner", required: false)
    @*@Html.Partial("~/Views/Home/BannerPartial.cshtml")*@
    <!-- Banner Section End -->
    <!-- Feature Product Section Start -->
    @RenderSection("Feature", required: false)
    <!-- Feature Product Section End -->
    <!-- Best Sell Product Section Start -->
    <div class="product-section section mt-90 mb-90">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Best Sell Product Section End -->
    <!-- Banner Section Start -->
    @RenderSection("BannerSection", required: false)
    <!-- Banner Section End -->
    <!-- Feature Section Start -->
    @RenderSection("FeatureLogoPaymentSection", required: false)
    <!-- Feature Section End -->
    <!-- Best Deals Product Section Start -->
    @RenderSection("BestDeal", required: false)
    <!-- Best Deals Product Section End -->
    <!-- New Arrival Product Section Start -->
    @RenderSection("NewArrival", required: false)
    <!-- New Arrival Product Section End -->
    <!-- Banner Section Start -->
    @RenderSection("BannerBottom", required: false)
    <!-- Banner Section End -->
    <!-- Brands Section Start -->
    @RenderSection("Brands", required: false)
    <!-- Brands Section End -->
    <!-- Subscribe Section Start -->
    @RenderSection("Subscribe", required: false)
    <!-- Subscribe Section End -->
    <!-- Footer Section Start -->
    @Html.Partial("~/Views/Home/footer.cshtml")
    <!-- Footer Section End -->
    <!-- Popup Subscribe Section Start -->
    @RenderSection("popupsubscribe", required: false)
    <!-- Popup Subscribe Section End -->
    <!-- JS
     @Html.Partial("~/Views/Account/ModalLogin.cshtml")
     @Html.Partial("~/Views/Account/ResendConfirmEmailModalPartial.cshtml")
    <!--Modal ResendConfirmEmail End-->
    <!--Modal ForgotPassword-->
    @Html.Partial("~/Views/Account/ForgotPasswordModalPartial.cshtml")
    <!--Modal ForgotPassword End-->
    ============================================ -->
    <!-- jQuery JS -->
    @Scripts.Render("~/bundles/jquery")
    <!--Popper JS Bootstrap JS -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundle/cart")
    @RenderSection("ScriptBundle", required: false)
</body>
</html>
