@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bà Chị Diệu Hiền - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/MainPage/images/iconBCDH.jpg">
    <!-- CSS
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    <!-- FontAwesome CSS-->
    <!-- Modernizer JS -->
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/LoadingScreen/css/jquery.loadingModal.css")">
    <link href="@Url.Content("~/Content/SweetAlret/sweetalert2.min.css")" rel="stylesheet" />
    <!-- DevExtremeBundle CSS -->
    @Styles.Render("~/Content/DevExtremeBundle")
</head>
<body>
    <!-- Header Section Start -->
    @Html.Partial("~/Views/Home/HeaderCustom.cshtml")
    <!-- Header Section End -->
    <!-- Mini Cart Wrap Start -->
    @Html.Partial("~/Views/Cart/CartPartial.cshtml")
    <div class="cart-overlay"></div>
    <div class="product-section section mt-20 mb-20">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Brands", required: false)
    <!-- Brands Section End -->
    <!-- Subscribe Section Start -->
    @RenderSection("Subscribe", required: false)
    @Html.Partial("~/Views/Account/ModalLogin.cshtml")
    @Html.Partial("~/Views/Account/ResendConfirmEmailModalPartial.cshtml")
    <!--Modal ResendConfirmEmail End-->
    <!--Modal ForgotPassword-->
    @Html.Partial("~/Views/Account/ForgotPasswordModalPartial.cshtml")
    <!-- Subscribe Section End -->
    <!-- Footer Section Start -->
    @Html.Partial("~/Views/Home/footer.cshtml")
    <!-- Footer Section End -->
    <!-- Popup Subscribe Section Start -->
    <!-- Popup Subscribe Section End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/MainPage/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <!-- DevExtremeBundle JS -->
    @Scripts.Render("~/cart")
    @RenderSection("ScriptBundle", required: false)
</body>
</html>

