@using BCDHX.Models
@using System.Globalization
@model IEnumerable<CartViewModel>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/HomeTempates/_LayoutOther.cshtml";
    var tempCartDetail = (CartDetail)TempData["CartDetail"];
    var tempUserDetail = (UserViewModel)TempData["TempUser"];
}

@section PageBannerForAll{
    @Html.Action("PageBannerCheckOut", "CheckOut")
}
<div class="row">
    <div class="col-12">
        <!-- Checkout Form s-->
        <form action="#" class="checkout-form" id="CheckOutForm">
            <div class="row row-40">
                <div class="col-lg-7 mb-20">
                    <!-- Billing Address -->
                    <div id="billing-form" class="mb-40">
                        <h4 class="checkout-title">Billing Address</h4>

                        <div class="row">

                            <div class="col-12 mb-20">
                                <label>Họ và tên*</label>
                                <input type="text" placeholder="Họ và tên" required value="@tempUserDetail.Fullname" id="Fullname" >
                            </div>

                            <div class="col-md-6 col-12 mb-20">
                                <label>Địa chỉ email*</label>
                                <input type="email" placeholder="Email address" value="@tempUserDetail.Username" readonly required id="Username">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Số điện thoại*</label>
                                <input type="tel" placeholder="Phone number" required id="phone" pattern="^\+?(?:[0-9]??).{5,14}[0-9]$">
                            </div>

                            <div class="col-12 mb-20">
                                <label>Tên tổ chức(Optional)</label>
                                <input type="text" placeholder="Tên tổ chức nếu có!" id="Orginal">
                            </div>

                            <div class="col-12 mb-20">
                                <label>Địa chỉ nhận hàng*</label>
                                <input type="text" placeholder="Địa chỉ" value="@tempUserDetail.Address" required id="address">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Ghi chú(Optional)</label>
                                <textarea cols="50" rows="5" id="note"></textarea>
                            </div>
                            <div class="col-12 mb-20">
                                <ol style="font-weight:700;color:red;font-size:20px">
                                    <li>Địa chỉ ship và số điện thoại có thể thay đổi ở trên!</li>
                                    <li>Phải nhập đúng số điện thoại!</li>
                                    <li>Chọn phương thức thanh toán phù hợp!</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <!-- Cart Total -->
                        <div class="col-12 mb-60">

                            <h4 class="checkout-title">Cart Total</h4>

                            <div class="checkout-cart-total">

                                <h4>Sản phẩm <span>Tổng</span></h4>

                                <ul>
                                    @foreach (var item in Model)
                                    {
                                        <li>@item.Name_Product X @item.Quantity <span>@item.Price</span></li>
                                    }

                                </ul>
                                <p>Tổng<span>@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C}", Model.Sum(x => x._Price))</span></p>
                                <p>Shipping fee <span>@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C}", tempCartDetail.ShippingLocationFee)</span></p>
                                <h4>Grand Total <span>@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C}", tempCartDetail.TotalGrand)</span></h4>
                            </div>
                        </div>
                        <!-- Payment Method -->
                        <div class="col-12 mb-60">

                            <h4 class="checkout-title">Payment Method</h4>

                            <div class="checkout-payment-method">

                                <div class="single-method">
                                    <input type="radio" id="payment_check" name="payment-method" value="0" >
                                    <label for="payment_check">Thanh toán bằng số dư tài khoản</label>
                                    <p data-method="0" style="font-weight:700"></p>
                                </div>

                                <div class="single-method">
                                    <input type="radio" id="payment_bank" name="payment-method" value="2">
                                    <label for="payment_bank">Chuyển khoản ngân hàng</label>
                                    <p data-method="2" style="font-weight:700">
                                        Agribank Phú Nhuận - TPHCM: 1604205435790<br>Vietcombank Phú Nhuận - TPHCM :0721000635022<br>Sacombank Phan Xích Long - Phú Nhuận: 060187111369<br>VP Bank Gia Định - Tphcm : 158248069<br>Techcombank Phan Xích Long - Phú Nhuận: 19032926197010<br>Chủ tài khoản: Châu Thị Mẫn Sương,Sđt: 0833290924<br><span style="color:red">Chuyển khoản xong thì nhớ chụp bill lại gửi qua livechat giúp mình nhé!</span>
                                    </p>
                                </div>

                                <div class="single-method">
                                    <input type="radio" id="payment_cash" name="payment-method" value="1">
                                    <label for="payment_cash">Cash on Delivery(COD)</label>
                                    <p data-method="1" style="font-weight:700">Thời gian nhận hàng tùy thuộc vào phía ship , chậm nhất 1 tuần. Nhân viên sẽ gọi điện theo sđt để confirm lại order!</p>
                                </div>

                                <div class="single-method">
                                    <input type="radio" id="payment_paypal" name="payment-method" value="3">
                                    <label for="payment_paypal">Thanh toán qua cổng thanh toán Online(Khuyến khích)</label>
                                    <p data-method="3"style="font-weight:700">Thanh toán qua cổng thanh toán Online, Nhanh chóng tiện lợi và an toàn!</p>
                                </div>
                              
                            </div>
                            <button class="place-order" type="submit" id="placeOrderBt" >Place order</button>
                            
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Brands{
    @Html.Partial("~/Views/Home/BrandsPartial.cshtml")
}
@section Subscribe{
    @Html.Partial("~/Views/Home/SubscribePartial.cshtml")
}
@section ScriptBundle {
    <script src="@Url.Content("~/ScriptsBundle/CheckOut/CheckOut.min.js")"></script>
}
