<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="@Request.ApplicationPath.ToString()AdminBCDH/Home"><i class="menu-icon fas fa-home"></i> Thống kê </a>
                </li>
                <li class="menu-title">Quản lí Chung</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><i class="menu-icon fas fa-users-cog"></i> Quản lí tài khoản Staff</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon far fa-list-alt"></i>@Html.ActionLink("Edit tài khoản staff", "ListStaffAccount", "Home")</li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Danh.M sản phẩm</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fas fa-edit"></i>@Html.ActionLink("Sửa danh.m sản phẩm", "Category", "Home")</li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Quản lí sản.p</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i>@Html.ActionLink("Chỉnh sửa sản.ph", "Product", "Home")</li>
                    </ul>
                </li>

                <li class="menu-title">Quản lí UI</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Slider paging</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fas fa-pager"></i>@Html.ActionLink("Ảnh slider", "PageBanner", "Home")</li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fas fa-file-invoice"></i>Q.lí đơn hàng</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon  fas fa-receipt"></i>@Html.ActionLink("Đơn hàng","Orders", "Home")</li>  
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                    </ul>
                </li>
                <li class="menu-title">Khác</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                        <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
